div {
  font-family: Verdana, Garamond, serif;
  color: 	#D630AC;
}

a {
  text-decoration: none;
  color:	#E6005C;
}

p {
  font-family: Garamond, serif;
}

table {
  border: 1px solid #E6005C;
}

td {
   border: 1px solid #E6005C;
}
